@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #f53838;
  --color-secondary: rgba(245, 56, 56, 0.35);
  --color-primary-text: #4f5665;
  --color-heading-text: #0b132a;
  --font-primary: "Space Grotesk", serif;
}
